

.buttonAccount:hover + .dataAccount{
    display:block;
  
}

.buttonAccount{
    background-color: rgb(0, 0, 0);
    justify-content: center;
   border-radius: 50%;

   float: right;
    overflow: hidden;
    justify-content: center;
}


.dataAccount{
    border-style: solid;
    border-width: 50;
    position: absolute;
    margin-top: 50px;
    width: 200px;
    float:bottom;
    font-style: normal;
    display:none;
    color: white;
    background-color: black;
    padding: 10px;
}


