.App {
  width: 100%;
  height: 100%;
 
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(19, 9, 9);
  color: white;
max-width: 1500px;

}

.App-logo {
  height: 40vmin;
}

.resultss{
  text-emphasis-color: black;
}


.research{
  width: 330px;
}

.App-link {
  color: #09d3ac;
}

.result{
  justify-content: left;
}

.navv{
  width: 100px;
}

.heureee{
  border-style: solid;
  border-color: tomato;
  border-width: 10px;
}

.searchBar{
  width: 50px;
  background-color: rgb(231, 107, 107);
}

.grapheTitle{
  color: white;
}

.container{
  display:flex;
}

.sidebar{
  flex:4;
  background-color: rgb(0, 0, 0);
  position:sticky;

}

.others{
  flex:20;
  background-color: rgb(0, 0, 0);
  padding:20px;
}
.columIcon{
  position: sticky;
}

