/*.line-event{
    border: solid 2px black;
    margin-right: 60%;


}*/
.Caroutest{
    text-align: center;
}

.texxt{
    color:white;
}



 .carouitations{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px;
 }
 
 #carou{
 
 
     width: 500px;
 
     height:900px;
 
     background-color: rgb(20, 20, 20);
 
     border-radius: 10px;
 
 }
 
 
 
 #car{
 
     color: rgb(0, 0, 0);
 
 }
 
 img{
 
     border-radius: 10px;
 
 }





