.testcercle{
    display: flex;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 50;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    color:black;

}
.testtitle{
    margin-left: 10px;
}
.teststartdate{
    margin-left: 20px;  
}
.testenddate{
    margin-left: 20px;
}

.eventsCHI{
    background-color: rgb(43, 22, 63);
    padding: 5px;

}
.eventsAPII{
    background-color: rgb(43, 22, 63);
    padding: 5px;
}

.nbPlaces{
    margin-left: 20px;
}

