.buttonAccount{
    float: right;
    overflow: hidden;
    /*border-radius: 50%;*/
    /*justify-content: center;*/
}


.initial{
    border-radius: 50%;
    /*justify-content: center;*/
}

.dataAccount{
    border-color: black;
    border-style: solid;
    border-width: 50;
    position: relative;
    width: 200px;
    float:right;
    font-style: normal;
    display:none;
    color: white;
    background-color: black;
}

.buttonAccount:hover + .dataAccount{
    display:block;
}

.columIcon{
    height: 135px;
}

.compte{
  
    font-weight: bold;
    
}


